/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF RESET*/

body {
    background: #000000;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

a.Top:link {color: #ffffff; text-decoration: underline}
a.Top:visited {color: #ffffff; text-decoration: underline}

a.Second:link {color: #ffffff; text-decoration: underline}
a.Second:visited {color: #ffffff; text-decoration: underline}

a.Bottom:link {color: #ffffff}
a.Bottom:visited {color: #ffffff}

a.NSFW:link {color: #ffffff}
a.NSFW:visited {color: #ffffff}

.Title {
    color: #ffffff;
    font-size: 70pt;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}

.List, p {
    color: #ffffff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 40pt;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 1;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: uppercase;
}
.inline-b-item {
  display: inline-block;
}
}

.Disclaimer {
    color: #ffffff;
    font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: x-small;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    letter-spacing: 1;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: lowercase;
}

.About {
    font-size: x-small;
    font-family: 'helvetica';
    text-transform: uppercase;
    
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}